.img-gallery-container {
    display: block;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-inline: 20px;
}

.img-gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding: 5px;
    background-color: lightgray;
}

.img-gallery-grid .gallery-img {
    padding: 5px;
}

.img-gallery-grid img {
    width: 100%;
    margin-bottom: -5px;
    
    cursor: pointer;
}

.search-filter-options {
    margin-block: 20px;
}

.search-bar {
    /* display: flex; */
    /* justify-content: start; */
    /* flex-grow: 1; */
    
    margin: 20px auto;
}

.search-bar input {
    font: 1.5em sans-serif;
    
    border: none;
    border-bottom: 1px solid;
}

.filter-container button {
    font: 1.3em sans-serif;
    border: none;

    background-color: white;
}

@media (min-width: 860px) {
    .img-gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .search-filter-options {
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* align-items: center; */
        /* justify-content: center; */
    }


    .filter-container {
        margin-inline-start: 20px;
        font-size: large;
    }

    .img-gallery-container {
        margin-inline: 40px;
    }


}
