.main-header {
    height: 100px;
    font-size: 3em;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-family: ;
    background-color: rgb(128, 24, 24);
}

.logo {
    margin-inline-start: 20px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.main-nav {
    width: 40%;
}

.main-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: white
}

.btn-toggle-menu {
    margin-right: 20px;

    font: 0.8em sans-serif;
    border: none;
    color: white;
    background-color: rgb(128, 24, 24);
}

@media (min-width: 860px) {
    .main-nav {
        margin-right: 40px;
        
        
    }

    .main-nav-list {
        color: white;
        
        justify-content: end;
        gap: 40px;
    }

    .main-nav-list a {
        color: white;
        font-size: 0.8em;
    }

    .logo {
        margin-inline-start: 40px;
    }
}