.meme-editor-container {
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-rows: 1v; */
    
    width: 100%;
    height: calc(100vh - 200px);
    
    padding: 20px;
    background-color: lightgray;
}

.canvas-container {
    display: grid;
    align-items: center;
    justify-self: center;
   
    justify-content: center;
    margin-top: 10px;
    
    border-radius: 5px;
}

.meme-editor-canvas {
    width: 370px;
    height:370px ;
    
    border-radius: 5px;
}

.editor-tools {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 370px;
    
    flex-grow: 1;
    /* align-self: center; */
    justify-content: center;
    width: 100%;
    height: 0;
}

.editor-tools .btn {
    padding: 15px 15px;
    border: none; 
    width: 50px;
    height: 30px;    
}

.editor-tools > * {
    margin-top: 10px;
}

.meme-line-actions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.content-actions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    margin-top: 5px;
}

.meme-line-actions .btn,
.content-actions .btn {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}

.color-input-container {
    grid-area: 2 / 4 / -1 / -1;

    display: flex;
    align-items: center;
    
}

.color-input-container input {
    width: 20%;

    opacity: 0;
    cursor: pointer;
}

.color-input-container img {
    width: 35px;
    
    cursor: pointer;
}

.set-fill-color {
    left: 20px;
}

.select-font {
    grid-column: span 3;

    align-self: center;
    width: 80%;
    padding: 10px;
}

.file-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    margin-top: 10px;
}

.file-actions .btn {
    color: white;
    background-color: rgb(128, 24, 24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    padding: 10px;
    width: max-content;
}

.file-actions a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    border-radius: 10px;
}

.meme-text-input {
    margin-top: 10px;
    height: 60%;
    
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
}

.btn-remove-line {
    background-image: url('/Icons/trash.png');
}

.btn-duplicate-line {
    background-image: url('/Icons/add.png');
}

.btn-select-next {
    grid-column: 2;
    
    background-image: url('/Icons/up-and-down-opposite-double-arrows-side-by-side.png');
}

.btn-enlarge-font {
    background-image: url('/Icons/increase\ font\ -\ icon.png');
}

.btn-shrink-font {
    background-image: url('/Icons/decrease\ font\ -\ icon.png');
}

.btn-align-start {
    background-image: url('/Icons/align-to-left.png');
}

.btn-align-center {
    background-image: url('/Icons/center-text-alignment.png');
}

.btn-align-end {
    background-image: url('/Icons/align-to-right.png');
}

.btn-share {
    /* background-image: url('/Icons/facebook-logo.png'); */
}




@media (min-width: 800px) {
    
    .meme-editor-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-inline: 0;
        gap: 80px;
        width: 100%;
    }

    .editor-tools {
        flex: 1 0 0;
        justify-content: start;
        /* margin-right: 30px; */
        height: 450px;
    }

    .canvas-container {
        flex: 1 0 0;
        justify-content: end;
        padding-left: 40px;
    }

    .meme-editor-canvas {
        width: 450px;
        height: 450px;
    }



    /* main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    /* .meme-editor-container {
        /* display: flex;
        flex-direction: column;
        /* display: grid; */
        /* grid-template-rows: 1v; */
        
        /* width: 100%;
        height: calc(100vh - 200px);
        
        padding: 20px;
        background-color: lightgray; */ 
    /* } */ 
    
    /* .canvas-container {
        display: grid;
        align-items: center;
        justify-self: center;
        /* grid-template-rows: minmax(300px, 1fr); */
        /* flex: 1 1 0px; */
        /* height: calc(50vh - 100px); */
        /* height: 0; */
        /* margin-top: 10px;
        
        border-radius: 5px;
        align-items: center; */
        /* justify-content: center; */
    /* } */
    
    /* .meme-editor-canvas { */
        /* grid-column: 2; */
        
        /* width: 470px; */
        /* width: 100% */
        /* height: ; */
/*         
        border-radius: 5px;
    }
    
    .editor-tools {
        display: grid;
        grid-template-rows: 1fr 1fr 2fr 1fr;
        grid-template-columns: 476px;
        
        flex-grow: 1;
        /* align-self: center; */
        /* justify-content: center;
        width: 100%;
        height: 0;
    /* } */
    
} 

    